# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\A_Padma_Codes\Code_Java\selenium-auto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
target/
